body{
  font-family:fantasy;
  margin: 0 ;
  padding: 0;
}
#root {
  margin: 0 ;
  padding: 0;
}
#nav{
  font-size: 2vmax;
  color:antiquewhite;
  display: flex;
  height: 5vmax;
  width: 100%;
  background-image: linear-gradient(135deg,purple,rgb(168, 3, 168));
  align-items: center;
  padding: 0 2vmax;

}
#logo{
  display: flex;
  align-items: center;
}
#logo img{
  height: 5vh;
  width: 3vw;
}
#logo span{
  margin: 4px;
}
#meme{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7vmax;
  flex-direction: column;
}
#meme img{
  height: 350px;
  width: 350px;
  margin: 5px;
}
#form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-input{
  border-radius: 5px;  
  margin: 5px;
  text-indent: 5px;
  height: 5vmin;
  width: 15vmax;
}
#form-button{
  height: 3vmax;
  width: 15vmax;
  background-image: linear-gradient(purple,rgb(168, 3, 168));
  color: wheat;
  border-radius: 2px;
  margin: 4px;
}

#topText{
    float: left;
    position: absolute;
    top: 45%;
    font-size: 2vmax;
    text-decoration: solid;
     text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
#bottomText{
  float: left;
    position: absolute;
    top: 90%;
    font-size: 2vmax;
    text-decoration: solid;
     text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}